* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-pink: #ba4270;
  --san-juan-blue: #36536b;
  --light-san-juan-blue: #6c8294;
  --link-water-white: #fbfcfe;
  --light-san-juan: #edf3f8;
  --mirage-blue: #1b262f;
  --charm-pink: #da6d97;
  --gray: #bdbfc1;
}

body {
  font-family: "DM Serif Display", serif;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  width: 100%;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

ul {
    list-style-image:url(/assets/shared/desktop/Path\ 3.svg) ;
padding-left: 20px;
padding-bottom: 15px;
border-bottom: .1px solid var(--gray);
  }

li {
    padding-left: 2em;
}

/* nav-bar */

.header__content {
    background-color: var( --light-san-juan);
    padding: 30px 150px 30px 150px;
    
  }

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav__logo {
  margin-right: 100px;
}

.link__text--white {
  color: var(--light-san-juan-blue);
}

.link__text {
    color: var(--light-san-juan);
  }

/* button */

.btn__nav--dark-pink {
  background-color: var(--dark-pink);
  color: var(--light-san-juan);
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  font-weight: bold;
}

.btn__transparent {
  background-color: transparent;
  color: var(--light-san-juan);
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  font-weight: bold;
  border: 1px var(--light-san-juan) solid;
}

.btn__transparent--plan {
  background-color: transparent;
  color: var(--san-juan-blue);
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  font-weight: bold;
  border: 1px var(--san-juan-blue) solid;
  margin-top: 30px;
}

.btn__transparent--contact{
  background-color: transparent;
  color: var(--san-juan-blue);
  padding: 15px 50px 15px 50px;
  border-radius: 30px;
  font-weight: bold;
  border: 1px var(--san-juan-blue) solid;
  margin-top: 50px;
}

/* Title */

.title__text--san-juan {
  color: var(--san-juan-blue);
  font-weight: bold;
  font-family: "DM Serif Display";
  font-size: 72px;
}

.title__text--white {
  color: var(--light-san-juan);
  font-weight: lighter;
  font-family: "DM Serif Display";
  font-size: 46px;
  margin-bottom: 20px;
}

.title__text--blue {
  color: var(--san-juan-blue);
  font-weight: lighter;
  font-family: "DM Serif Display";
  font-size: 46px;
  margin-bottom: 20px;
}

.title__text {
    color: var(--san-juan-blue);
    font-weight: bold;
    font-family: "Public Sans";
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .title__text--plan {
    color: var(--san-juan-blue);
    font-weight: bold;
    font-family: "Public Sans";
    font-size: 30px;
    margin-bottom: 60px;
    
  }

  .title__text--about {
    color: var(--san-juan-blue);
    font-weight: bold;
    font-family: "DM Serif Display";
    font-size: 50px;
    margin-left: 100px;
    margin-bottom: 60px;
    
  }

  .title__text--violet {
    color: var(--dark-pink);
    font-weight: bold;
    font-family: "DM Serif Display";
    font-size: 25px;
    margin-bottom: 20px;
    
  }

  
/* Texto */

.text__san-juan--white {
  color: var(--light-san-juan);
  font-weight: lighter;
  line-height: 1.5rem;
  margin-bottom: 30px;
}

.text__san-juan--light-blue {
  color: var(--san-juan-blue);
  font-weight: lighter;
  line-height: 1.5rem;
  margin-bottom: 30px;
}

.text__san-juan--blue {
  color: var(--san-juan-blue);
  font-weight: bold;
}


.text__blue {
    color: var(--san-juan-blue);
    font-weight: lighter;
    line-height: 1.5rem;
    margin-bottom: 30px;
    font-size: 12px;
    text-align: center;
  }

  .text__blue--light {
    color: var(--light-san-juan-blue);
    font-weight: lighter;
    line-height: 1.5rem;
    margin-bottom: 30px;
    font-size: 14px;
   
  }
  
  /*  */

  .section {
 
    background-color:var(--light-san-juan) ;
    
    }
    
    .section__implement {
      padding:  30px 150px 30px 150px;
    }

/* READY FORM */
  
.questions__title {
  color: var(--san-juan-blue);
  font-weight: bold;
  font-family: "DM Serif Display";
  font-size: 72px;
  margin: 100px 0 50px 0;
}

.questions__email {
    padding: 15px 160px 15px 25px;
    background-color: white;
    color: var( --light-san-juan-blue);
    font-weight: bold;
    box-shadow: 1px 13px 5px -3px rgba(0,0,0,0.10);
    border-radius: 30px;
}

.questions__content {
    position: relative;
    margin-bottom: 30px;
}

.btn__postion {
    position: absolute;
    right: 150px;
}

.question {
  display: flex;
 justify-content: space-between;
 align-items: center;
 margin:100px 0 100px 0;
}

.question__form {
  position: relative;
}

.title__question{
  color: var(--san-juan-blue);
  font-weight: bold;
  font-family: "DM Serif Display";
  font-size: 50px;
  
}

/* FOOTER */

.footer__content {
  background-color: var(  --mirage-blue);
  padding: 30px 150px 30px 150px;
}

.footer__imagen {
  margin: 0 20px 0 20px
}

