* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-pink: #ba4270;
    --san-juan-blue: #36536b;
    --light-san-juan-blue: #6c8294;
    --link-water-white: #fbfcfe;
    --light-san-juan: #EDF3F8;
    --mirage-blue: #1b262f;
    --charm-pink: #da6d97;
}

body {
    font-family: 'DM Serif Display', serif;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 30px 150px 30px 150px;

}

button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

/* nav-bar */
.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.nav__logo {
    margin-right: 100px;
}

.link__text--white {
   color: var(--light-san-juan-blue);

}

/* button */

.btn__nav--dark-pink {
    background-color: var(--dark-pink);
    color: var(--light-san-juan);
    padding: 15px 30px 15px 30px ;
    border-radius: 30px;
    font-weight: bold;
}