.header__content {
  background-color: var( --light-san-juan);
  padding: 30px 150px 30px 150px;
  
}

.questions__title {
  color: var(--san-juan-blue);
  font-weight: bold;
  font-family: "DM Serif Display";
  font-size: 72px;
  margin: 100px 0 50px 0;
}

.questions__email {
    padding: 15px 160px 15px 25px;
    background-color: white;
    color: var( --light-san-juan-blue);
    font-weight: bold;
    box-shadow: 1px 13px 5px -3px rgba(0,0,0,0.10);
    border-radius: 30px;
}

.questions__content {
    position: relative;
    margin-bottom: 30px;
}

.btn__postion {
    position: absolute;
    right: 150px;
}

.header__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header__illustration {
  display: flex;
  justify-content: center;
}

.text_margin {
    margin-left: 15px;
}



.container {
   
}
.info {
    background-color: var(--mirage-blue);
    padding: 30px 150px 30px 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.info__text {
  text-align: justify;
  padding-right: 100px;
  
}

.info__illustration {
display: grid;
grid-template-columns: repeat(3 , 1fr);
grid-template-rows: repeat(2, 1fr);
align-self: center;
gap: 50px;
}

.section {
 
background-color:var(--light-san-juan) ;

}

.section__implement {
  padding:  30px 150px 30px 150px;
}

.section__content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.section__text {
  padding: 80px 0px 0px 40px;
}